@use '../../../styles/variables' as *;
@use '../../../styles/theme-mixins' as *;
@use 'sass:color';

.modalValoresOverlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    // align-items: center;
    overflow-y: auto;
    z-index: 1000;
    // padding: 1rem;
}

.modalValores {
    position: relative;
    background-color: whitesmoke;
    padding: 1rem 1.5rem;
    border-radius: 0 0 0 10px;
    width: fit-content;
    max-height: 70vh;
    overflow-y: auto;
    border: 2px solid $color-terciario;
    @include font-size(md);
}

.closeButton {
  position: absolute;
  top: 6px;
  right: 3px;
  background: transparent;
  border: none;
  color: $color-terciario-oscuro;
  cursor: pointer;
  transition: color 0.2s ease, transform 0.2s ease;
  z-index: 10;

  &:hover {
    color: $color-terciario-oscuro;
    transform: scale(1.2);
  }
}


.modalTitulo {
    @include font-size(lg);
    font-weight: 500;
    font-family: $fuente-titulos;
    border-bottom: 2px solid $color-terciario;
    color: $color-texto-claro;
    padding: 0.25rem;
    margin: 0.5rem auto;
    background-color: #323232;
}

.groupsDiv {
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.inputGroup {
    display: flex;
    justify-content: space-between;
    padding: 4px;
    border-bottom: 1px solid $color-secundario-oscuro;
    align-items: center;
}

.labelLogoWrapper {
    display: flex;
    align-items: center;
    gap: 6px;
}

.inputGroup input {
    width: 120px;
    text-align: right;
}

.groupLogosDiv {
    display: flex;
    justify-content: center;
    background-color: $color-secundario-claro;
    margin-top: 4px;
}

.labelsLogosDiv {
    display: flex;
    align-items: center;
}

.groupLogo {
    height: 20px;
    vertical-align: middle;
    padding: 5px;
    width: 50px !important;
}

.labelLogo {
    height: 20px;
    vertical-align: middle;
    display: flex;
    align-items: center;
}

.inputLabel {
    margin-right: 1rem;
}

.groups {
border-top: 1px solid $color-primario;
border-bottom: 1px solid $color-primario;
}

.groupColchon {
    background-color: rgba($color-totales, 0.2);
}

.groupInicio {
    background-color: rgba($color-totales, 0.2);
}

.groupBBVA {
    background-color: rgba($color-bbva, 0.5);
}

.groupBNA {
    background-color: rgba($color-bna, 0.5);
}

.groupDolares {
    background-color: rgba($color-dolares, 0.5);
}

.groupExpensas {
    background-color: rgba($color-expensas, 0.5);
}

.botones {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    white-space: nowrap;
}

.dualInput {
  display: flex;
  gap: 0.5rem;

  @include media-down(sm) {
   flex-direction: column; 
  }

  input[type="text"] {
    flex: 1;
  }

  .inputVenc {
    opacity: 0.9;
  }
}
