@use '../../../styles/variables' as *;
@use '../../../styles/theme-mixins' as *;
@use 'sass:color';

.modalValoresOverlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalValores {
    background: rgb(220,220,220);
    background: $color-secundario;
    padding: 1.5rem;
    border-radius: 12px;
    width: 400px;
    overflow-y: auto;
}

.modalTitulo {
    @include font-size(lg);
    font-weight: 500;
    border-bottom: 2px solid $color-secundario;
    color: $color-texto-oscuro;
    padding: 0.25rem;
    margin: 0.5rem auto;
}

.groupsDiv {
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.inputGroup {
    display: flex;
    justify-content: space-between;
    padding: 4px;
    border-bottom: 1px solid $color-secundario-oscuro;
    align-items: center;
}

.labelLogoWrapper {
    display: flex;
    align-items: center;
    gap: 6px;
}

.inputGroup input {
    width: 120px;
    text-align: right;
}

.groupLogosDiv {
    display: flex;
    justify-content: center;
    background-color: $color-secundario-claro;
    margin-top: 4px;
}

.labelsLogosDiv {
    display: flex;
    align-items: center;
}

.groupLogo {
    height: 20px;
    vertical-align: middle;
    padding: 5px;
    width: 50px !important;
}

.labelLogo {
    height: 20px;
    vertical-align: middle;
    display: flex;
    align-items: center;
}

.groupColchon {
    background-color: rgba($color-totales, 0.2);
}

.groupInicio {
    background-color: rgba($color-totales, 0.2);
}

.groupBBVA {
    background-color: rgba($color-bbva, 0.5);
}

.groupBNA {
    background-color: rgba($color-bna, 0.5);
}

.groupDolares {
    background-color: rgba($color-dolares, 0.5);
}

.groupExpensas {
    background-color: rgba($color-expensas, 0.5);
}

.botones {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    white-space: nowrap;
}