@use '../../../styles/variables' as *;
@use '../../../styles/theme-mixins' as *;
@use 'sass:color';

.modalValoresOverlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalValores {
    background: rgb(220,220,220);
    background: $color-primario;
    padding: 1.5rem;
    border-radius: 12px;
    width: 400px;
    overflow-y: auto;
}

.modalTitulo {
@include font-size(lg);
font-weight: 500;
// background-color: $color-terciario-claro;
border-bottom: 2px solid $color-terciario;
color: $color-texto-oscuro;
padding: 0.25rem;
margin: 0.5rem auto;
}

.groupsDiv {
    // margin-top: 0.5rem;
}

.inputs {
display: flex;
flex-direction: column;
gap: 0.5rem;
}

.inputGroup {
    display: flex;
    justify-content: space-between;
    // margin: 0.5rem 0;
    // margin-bottom: 0.5rem;
    padding: 4px;
    // border-top: 1px solid $color-primario;
    border-bottom: 1px solid $color-primario;

      align-items: center;
}

.labelLogoWrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}

.inputGroup input {
    width: 120px;
    text-align: right;
}

.groupLogosDiv {
    display: flex;
    // border: 1px solid $color-texto-oscuro;
    // border-top: 2px solid $color-primario-oscuro;
    // border-bottom: none;
    justify-content: center;
    background-color: $color-primario-oscuro;
    margin-top: 4px;
}

.labelsLogosDiv {
    display: flex;
    align-items: center;
}

.groupLogo {
//   width: 24px;
  height: 20px;
//   margin-right: 8px;
  vertical-align: middle;
//   background-color: $color-texto-oscuro;
  padding: 5px;
//   border-bottom-right-radius: 10px;
//   border-radius: 0 10px 10px 0;
  width: 50px !important;
}

.labelLogo {
//   width: 24px;
  height: 20px;
//   margin-right: 8px;
  vertical-align: middle;
  display: flex;
  align-items: center;
//   background-color: $color-primario;
//   padding: 5px;
//   border-bottom-right-radius: 10px;
//   border-radius: 0 10px 10px 0;
//   width: 50px !important;
}

.groupColchon {
    background-color: rgba($color-totales, 0.2);
}

.groupInicio {
    background-color: rgba($color-totales, 0.2);
}

.groupBBVA {
    background-color: rgba($color-bbva, 0.5);
}

.groupBNA {
    background-color: rgba($color-bna, 0.5);
}

.groupDolares {
    background-color: rgba($color-dolares, 0.5);
}

.groupExpensas {
    background-color: rgba($color-expensas, 0.5);
}

.botones {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    white-space: nowrap;
}