@use '../../../styles/variables' as *;
@use '../../../styles/theme-mixins' as *;
@use 'sass:color';

.slideContainer {
    padding: 1rem;
    padding-top: 0;
     display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 80vw;
  margin: 0 auto;
max-width: 100%;
}

.controles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;

@include media-up(md) {
    width: 600px;
    margin: 0 auto;
}

}


.agregarPlanilla {
    display: flex;
    justify-content: flex-end;
}

.agregarPlanillaButton {

}

.agregarPlanillaContainer {
border: 1px solid $color-secundario;
background-color: #ddd;
padding: 1rem;
display: flex;
flex-direction: column;
border-radius: 8px;
gap: 1rem;
margin: 0 auto;

@include media-up(md) {
    width: 600px;
}
}

.agregarPlanillaTitulo {
    @include font-size(xl);
    font-weight: 500;
    display: flex;
    
}

.agregarPlanillaBotones {
display: flex;
justify-content: space-between;
gap: 0.5rem;
}

.confirmarButton {

}

.cancelarButton {

}