@use './variables' as *;
@use './theme-mixins' as *;

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto; /* ocupa el espacio disponible */
}

.AppFooter {
  margin-top: auto; /* empuja footer al fondo */
}
