@use 'sass:color';

// Colores principales
$color-primario: #232D4F;
$color-secundario: #E6BB61; 
$color-terciario: #45658D;

// Colores de texto
$color-texto-claro: #ffffff;
$color-texto-oscuro: #141414;