@use 'sass:color';

// Colores principales
$color-primario: #232D4F;
$color-secundario: #E6BB61; 
$color-terciario: #45658D;

// Colores de texto
$color-texto-claro: #ffffff;
$color-texto-oscuro: #141414;

// Colores de grupos y bancos
$color-bbva: #001391;
$color-bna: #005f86;
$color-dolares: #278664;
$color-expensas: #ed7d31;
$color-totales: #0d0d0d;