@use '../../../styles/variables' as *;
@use '../../../styles/theme-mixins' as *;
@use 'sass:color';

.tituloTablaContainer {
display: flex;
justify-content: left;
align-items: center;
}

.tituloTablaContainer > div:first-child {
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.tituloTabla {
  font-family: $fuente-contenidos;
  font-weight: 600;
  font-size: 1.1rem;
}

.ingresarDatosButton {
 display: flex; 
 gap: 0.5rem;
 background-color: $color-secundario;
 border: none;
 padding: 0.25rem 0.5rem;
 margin: 0.5rem 0;
 width: min-content;
 align-items: center;
 text-align: left;
 cursor: pointer;
}

.tablaCuentasContainer {
  width: 100%;
  max-width: 100vw;
  overflow-x: auto;
  display: block;
  padding: .5rem 0;
}

.tablaCuentas {
  font-family: $fuente-contenidos;
  width: 100%;
  border-collapse: separate;
  border-spacing: 1px;
  text-align: left;
  border: solid 1px $color-secundario;
  font-size: 0.85rem;
  vertical-align: middle;
  min-width: fit-content;
  margin: 0 auto;

  tr[data-bank="bbva"] {
    background-color:	$color-bbva;
  }

  tr[data-bank="bna"] {
    background-color: $color-bna;
  }

  tr[data-bank="dolares"] {
    background-color: $color-dolares;
  }

  tr[data-bank="expensas"] {
    background-color: $color-expensas;
  }

  tr[data-bank="totales"] {
    background-color: $color-totales;
  }
  
  @include media-down(md) {
    font-size: .75rem;
  }
  @include media-down(sm) {
    font-size: 0.7rem;
  }
}

.tablaCuentas th,
.tablaCuentas td {
  border: 1px solid #ccc;
  padding: 8px;
}

.tablaCuentas th {
  color: $color-texto-claro;
}

.tablaCuentas input {
  background-color: $color-secundario;
  width: 100%;
  text-align: right;
  border: none;
  padding: 4px;

}

.guardarPlanillaButton {
   display: flex; 
   justify-content: center;
 gap: 0.5rem;
 color: $color-texto-claro;
 background-color: $color-terciario;
 border: none;
 padding: 0.25rem 0.5rem;
 margin: 0 auto;
 margin-top: 1rem;
 align-items: center;
 cursor: pointer;
}