@use '../../../styles/variables' as *;
@use '../../../styles/theme-mixins' as *;
@use 'sass:color';

.authContainer {
    padding: 2rem;
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.authTitle {
    font-family: $fuente-titulos;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 600;
    color: $color-primario;
}

.authInputContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.authInputGroup {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;

    .authLabel {
        color: $color-secundario-oscuro;
        font-size: 1rem;
        pointer-events: none;
        transition: all 0.2s ease;
        padding: 0.5rem;
        padding-top: 0;
    }

    .authInput {
        width: 100%;
        padding: 1rem;
        border-radius: 8px;
        border: 1px solid #ccc;
        font-size: 1rem;
        transition: border-color 0.3s;
        font-family: $fuente-contenidos;
    }
}

.passwordWrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.passwordWrapper .authInput {
    flex: 1; // ocupa todo el espacio disponible
    padding-right: 3rem; // deja espacio para el botón
}

.showPasswordButton {
    position: absolute;
    right: 0.5rem;
    background: none;
    border: none;
    color: $color-primario;
    cursor: pointer;
    font-size: 0.875rem;
}


.loginButton {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0.75rem;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}