@use '../../../styles/variables' as *;
@use '../../../styles/theme-mixins' as *;
@use 'sass:color';

.notLoggedIn {
display: flex;
justify-content: center;
@include font-size(xxl);
color: $color-primario;
}

