@use '../../../styles/variables' as *;
@use '../../../styles/theme-mixins' as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  position: sticky;
  top: 0;
  transition: transform 0.3s ease-in-out;
  border-top: none;
  min-height: 50px;
  color: $color-texto-oscuro;
  background-color: $color-primario;
  z-index:2 !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  user-select: none;
  padding: 0 1rem; // opcional, margen interno
  border-bottom: 2px solid $color-secundario;
}

.titulo {
    @include font-size(xl);
    font-weight: 600;
    color: $color-secundario-oscuro;
}

.logOutButton {
 color: $color-texto-oscuro;
 background-color: $color-terciario;
width: fit-content;

  &:hover{
    background-color: $color-terciario-oscuro;
 }
}