@use '../../../styles/variables' as *;
@use '../../../styles/theme-mixins' as *;
@use 'sass:color';

.dropdown {
  position: relative;
  display: inline-block;
}

.botonPrincipal {
  background-color: $color-primario;
  color: $color-texto-oscuro;
  // border: none;
  // padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background 0.2s;
  width: fit-content;
}

.botonPrincipal:hover {
  background-color: $color-primario-oscuro;
}

.flecha {
  @include font-size(sm);
}

.menu {
  position: absolute;
  // top: calc(100% + 4px);
  right: 0;
  background: $color-secundario;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 100;
  overflow: hidden;
  animation: fadeIn 0.15s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.item {
  @include font-size(md);
    padding: 10px;
  cursor: pointer;
  transition: background 0.15s;
  color: $color-primario;
}

.item:hover {
  background-color: #f1f1f1;
  color: $color-texto-oscuro;
}
